1_chicago.osm
1_sample_chicago.osm
1_Data cleaning 2.ipynb
.ipynb_checkpoints
new-delhi_india.osm
sample_delhi2.osm
schema.pyc
Data_delhi.ipynb
Improving Street Names.ipynb
auditing- street name.ipynb
case study -Q 10  open street map data.ipynb
case_study- Quiz 11 - Preparing for database sql.ipynb
case_study- Quiz 11 - solution.ipynb
example.osm.xml
nodes.csv
nodes_tags.csv
schema.py
ways.csv
ways_nodes.csv
ways_tags.csv
example.osm
CleaningStreetNames.ipynb
project_db.db
delhi.db
debug.log




Final_code.ipynb
GetSample_OSM.ipynb
csvs_to_database.ipynb